*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 25px; */
}
.calculadora {
    background: #ededed;
    /* EL FONDO gris ocupa solo el ancho del contenido */
    width: fit-content;
    
    /* para centrar */
    margin: auto;
    margin-top: 30px;;

}
.teclas{
    display:flex
}
.pantalla{
    padding: 18px 18px 0 19px;
}
.numeros{
    padding: 18px 9px 13px 18px;
}
.resultado{
    background: #666;
    color: #eee;
    padding: 9px;
}
.op{
    padding: 18px 18px 13px 9px;
}
.op button{
    display: block;
    width: 54px;
    height: 54px;
    padding: 11px 13px;
    background: #000;
    color: #fff;
    
    /* es igual a border:none */
    border:0;

}
.numeros button{
    border: 0;
    background: #fff;
    transition: all 0.09s;
}
.numeros button:hover{
    box-shadow: 0px 0px 12px #aaa;
}
.numeros div{
    text-align: center;
}
button{
    margin: 2px 0;
    padding: 15px 24px;
    font-size: 19px;
}
.respuesta{
    padding: 0px 18px 18px 18px;
}
.respuesta button{
    width: 100%;
    background:#48c;
    color: #fff;
    border:none;

}